.retroactive-advantage-buttons {
  margin-bottom: 0.5em;
  gap: 0.5em;
}

.retroactive-advantage-buttons button {
  font-size: inherit;
  line-height: normal;
  padding: 0.1em 0;
  margin: 0;
}

.retroactive-advantage-buttons button:not([disabled]) {
  cursor: pointer;
}

.retroactive-advantage-buttons button[disabled] {
  background-color: var(--color-border-dark-primary);
  color: var(--color-text-light-highlight);
}